@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Silkscreen&display=swap');
body {
    background-color: #D6B0EC !important;
    margin-bottom: 45px !important;
    font-family: 'Montserrat', sans-serif !important;
    margin-left: 20px !important;
}
#leave_btn {
    margin-top:10px;
    padding: 4px;
    height:50px;
    width: 140px;
    font-size: 20px;
}
h1 {
    display: flex !important;
    font-family: 'Silkscreen', cursive !important;
    justify-content: center !important;
    align-items: center !important;
    font-size: 60px !important;
}
#winner_div {
    text-align: center;
    font-size: 50px !important;
}
#draw_div {
    text-align: center;
    font-size: 50px !important;
}
#curr_player {
    text-align: center;
    font-size: 50px !important;
}
.game_table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
}
.game_table td{
    width: 200px;
    height: 200px;
    border: 6px solid black;
    border-collapse: collapse;
    text-align: center;
    font-size: 100px;
    font-weight: bolder;
}
.game_table td.empty:hover{ 
    background-color: #D6B0EC;
    cursor:pointer;

}
.game_table td.empty:active{
    background-color: #B565E3;
}

.game_table td.chosen {
    background-color: #D6B0EC;

}