<!-- bootstrap used for navabar, etc.:  https://getbootstrap.com/ -->
<!DOCTYPE html>
<html>
<head>
    <title>Web Wizards Game Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/home/game.css"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
<script src="/static/home/game_functions.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>

<div class="container-header">
    <button id="leave_btn" onclick="leave_lobby()">Leave Room</button>
    <p id="user_tag" style="display:none;">username</p>
</div>


<div class="header">
    <h1 id="owner_header">owner's Tic-Tac-Toe Room</h1>
</div>
</br></br>
<div id="winner_div" style="display:none;">
    <p id="winner_label">The Winner is username!</p>
</div>
<div id="draw_div" style="display:none;">
    <p id="draw_label">It's a tie!</p>
</div>
<div id="curr_player_div" style="display:none;">
    <p id="curr_player">username's Turn!</p>
</div>
</br></br>
<div class="game-container">
    <table class="game_table">
        <tr>
            <td id="1" class="empty" onclick="click_cell('1')"></td>
            <td id="2" class="empty" onclick="click_cell('2')"></td>
            <td id="3" class="empty" onclick="click_cell('3')"></td>
        </tr>
        <tr>
            <td id="4" class="empty" onclick="click_cell('4')"></td>
            <td id="5" class="empty" onclick="click_cell('5')"></td>
            <td id="6" class="empty" onclick="click_cell('6')"></td>
        </tr>
        <tr>
            <td id="7" class="empty" onclick="click_cell('7')"></td>
            <td id="8" class="empty" onclick="click_cell('8')"></td>
            <td id="9" class="empty" onclick="click_cell('9')"></td>
        </tr>
    </table>
</div>
</br></br>

</body>
</html>