<!DOCTYPE html>
<html>
<head>
    <title>Web Wizards Hub</title>
    <link rel="stylesheet" type="text/css" href="/static/home/lobby.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>


<div class="header">
    <h1>Lobby</h1>
</div>
<br />
<button class="leave-lobby-btn" onclick="leaveLobby()">
   Leave Lobby
</button>
<button class="start-game-btn" onclick="startGame()">
   Start Game
</button>
<div class="member-list">
    <div style="padding-left: 10px">Members:</div>
    <div style="padding-left: 10px">{{member}}</div>
    <div style="padding-left: 10px" id="member-2"></div>
</div>

<script src="/static/home/lobby_functions.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>
